.container {
    display: flex;
    background-color: rgb(104, 103, 103);
    margin: 100px;
    padding: 15px;
    
    
    
}
 .container > div {
    min-height: 10px;
    min-width: 10px
    
 }

.list-icon ul{
        
        list-style: none;
        display: flex;
        padding: 0;
        justify-content: space-around;
}

.list-icon ul li i{
    color: rgb(0, 170, 243);
    font-size: 1.8rem;
    letter-spacing: 10px;

}

.text{
    background-color:none;
    flex-grow: 2;
}

/* .like{
    
} */

.like ul{
    display: flex;
    list-style: none;
    padding: 0;   
}

.like ul li i {
    
    color: rgb(0, 170, 243);
    font-size: 1.8rem;   
}